<!DOCTYPE html>
{% from macros import embed %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>
    {% block preamble -%}{%- endblock %}
    {{ bokeh_js }}
    {% block postamble %}{% endblock %}
    <link rel="icon" href="interaction/static/ditto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
</head>
<body>

<section class="hero is-small has-background-danger-80">
    <div class="hero-body">
        <p class="title">{{ title }}</p>
        <!--        <p class="subtitle">-->
        <!--            一个图区块链系统的模拟仿真框架，通过交互式可视化界面展示区块图生成过程、共识算法执行结果，模拟多种网络攻击-->
        <!--        </p>-->
    </div>
</section>

<section class="section" style="padding: 24px; padding-top: 24px;">
    <div class="columns is-2">
        <div class="column is-8">
            <article class="message" style="height: 480px">
                <div class="message-header" style="height: 50px">
                    <p class="title is-4 has-text-light">区块图展示</p>
                </div>
                <div class="message-body" style="height: 430px">
                    {{ embed(roots.blockdag) }}
                </div>
            </article>
            <article class="message" style="height: 280px">
                <div class="message-header" style="height: 50px">
                    <p class="title is-4 has-text-light">日志输出</p>
                </div>
                <div class="message-body" style="height: 230px">

                </div>
            </article>
        </div>
        <div class="column">
            <article class="message" style="height: 380px">
                <div class="message-header" style="height: 50px">
                    <p class="title is-4 has-text-light">控制台</p>
                </div>
                <div class="message-body" style="height: 330px">
                    {{ embed(roots.button) }}
                </div>
            </article>
            <article class="message" style="height: 380px">
                <div class="message-header" style="height: 50px">
                    <p class="title is-4 has-text-light">节点网络图</p>
                </div>
                <div class="message-body" style="height: 330px">
                    {{ embed(roots.network) }}
                </div>
            </article>
        </div>
    </div>
</section>

<footer class="footer" style="padding: 24px">
    <div class="content has-text-centered">
        <p><strong>Ditto</strong> v{{ version }} project is powered by <a href="https://github.com/ug1y">ug1y</a>.</p>
    </div>
</footer>

</body>
{{ plot_script }}
</html>
